.main{
    background-color:#222222;
    height:100vh;
    background-size:cover;
    padding:14px;
}

.login{
    background:radial-gradient(#ffffff,#222222);
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding: 20px; 
    width: 280px;  
    height:280px;
    text-align:center;
    align-items: center;
}

